body {
    font-family: 'Montserrat' , sans-serif;
}
.container {
    max-width: 1280px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
.section {
    width: 100%;
    &__title {
        position: relative;
        width: 100%;
        font-family: "Montserrat", sans-serif;
        font-size: 48px;
        font-weight: 800;
        letter-spacing: 0;
        // margin-top: 100px;
        margin-bottom: 80px
    }    
}
section {
    padding: 100px 0 80px;
}